<div class="root">

  <div class="page">
    <div class="search">
      <div class="controls">
        <button mat-raised-button (click)="addSearchParameter()">Novi parametar pretrage</button>
      </div>


      <div class="fields">

        <div *ngFor="let searchParam of searchParameters">
          <app-search-param [searchParam]=searchParam (delete)="delete($event)" (change)="onParamChange($event)"></app-search-param>
        </div>
      </div>
    </div>

<div class="title">
  <h1>Rezultati pretrage</h1>
</div>
    <div class="results">
      <div class="document" *ngFor="let application of applications">

        <app-document-container [application]="application"></app-document-container>
      </div>
    </div>
  </div>
</div>
