<div class="card">
  <div class="card-content">

    <div class="card-header">
      <div class="card-header-title" [innerHTML]="appplication.firstname + ' ' + appplication.lastname"></div>
      <div class="card-header-subtitle" [innerHTML]="appplication.education"></div>
    </div>
    <div class="card-contacts">

      <p [innerHTML]="appplication.address"
         *ngIf="appplication.cvContent == '' && appplication.letterContent == ''"></p>
      <p [innerHTML]="appplication.phone" *ngIf="appplication.cvContent == '' && appplication.letterContent == ''"></p>
      <p [innerHTML]="appplication.email" *ngIf="appplication.cvContent == '' && appplication.letterContent == ''"></p>
      <div *ngIf="appplication.cvContent != ''">
        <p><b>CV:</b></p>
        <p [innerHTML]="appplication.cvContent"></p>
      </div>
      <div *ngIf="appplication.letterContent != ''">
        <p><b>Propratno pismo:</b></p>
        <p [innerHTML]="appplication.letterContent"></p>
      </div>

    </div>
  </div>

  <div class="card-controls">
    <button mat-raised-button (click)="onDownload(appplication.cvFilename)">CV
      <mat-icon>download</mat-icon>
    </button>
    <button mat-raised-button (click)="onDownload(appplication.letterFilename)">Propratno pismo
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>

